* {
    box-sizing: border-box;
}

.customNavbarStyle {
    min-width: 410px;
    padding: 10px;
    font-size: 24px;
}

.customNavLinkClass {
    margin-right: 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    height: 51px;
}

.customNavLinkClass:hover {

    background-color: #664229;
    /* Slightly lighter background color */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
}